/*-- scss:defaults --*/
// Base document colors
$body-bg: #222222ff;
// $body-color: #f3f3f3;
$body-color: #f3f3f3;
$link-color: rgb(184, 211, 225);
$navbar-bg: rgb(0, 103, 127);

/*-- scss:rules --*/

h2 {
    color: rgb(184, 211, 225);
  }

  h1 {
    color: rgb(184, 211, 225);
  }